.posts{
  list-style: none;
}
.post-meta, .post-tags{
  font-size:2rem;
  font-family:'Muli', 'arial', sans-serif;
}
.post-tags{
  font-size:1.6rem;
}
.post-description{
  padding-left:2rem;
}
.post-content{
  font-size: 1.8rem;
}
.post-tags span:after{
  content:" . "
}
.post-tags span:last-of-type:after{
  display:none;
}
.blog-back{
  margin-top:5rem;
  margin-bottom:-3rem;
  text-align:center;
  font-size: 2rem;
}
