<footer>
  <h5 class='footername'>CPGruber</h5>
  <ul id='socmedia'>
    <li><a href='http://www.twitter.com/CPGrubes' target='_blank'><img src='../social_media/tw-b.png' /></a></li>
    <li><a href='http://github.com/cpgruber' target='_blank'><img src='../social_media/gi-b.png' /></a></li>
    <li><a href='http://www.linkedin.com/in/chasegruber' target='_blank'><img src='../social_media/li-b.png' /></a></li>
    <li><a href='mailto:chasegruber@gmail.com' target='_blank'><img src='../social_media/em-b.png' /></a></li>
  </ul>
</footer>
<!-- <div class='row footer'>
<div class='twelve columns'>
  <h5 class='footername'>CPGruber</h5>
  <ul id='socmedia'>
    <li><a href='http://www.twitter.com/CPGrubes' target='_blank'><img src='../social_media/tw-b.png' /></a></li>
    <li><a href='http://github.com/cpgruber' target='_blank'><img src='../social_media/gi-b.png' /></a></li>
    <li><a href='http://www.linkedin.com/in/chasegruber' target='_blank'><img src='../social_media/li-b.png' /></a></li>
    <li><a href='mailto:chasegruber@gmail.com' target='_blank'><img src='../social_media/em-b.png' /></a></li>
  </ul>
</div>
</div> -->
