<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
<!-- <script type='text/javascript' src='../assets/holes.js'></script> -->
<script type='text/javascript' src='../assets/new_letters.js'></script>
<script type='text/javascript' src='../assets/sketchy.js'></script>
<script type='text/javascript' src='{% if page.js %}{{ page.js | prepend: site.baseurl }}{% endif %}'></script>
